
.row {
  text-align: center;
}

/*----- NAVBAR -----*/

.navbar, p{
  font-family: 'Lato', sans-serif;
}

.navbar-brand {
  color: white !important;
}


#circle {
  background-color: hsla(0, 100%, 100%, 0.9);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 200px 0px 0 107px;
  cursor: pointer;
}

.circle-red:hover {
  background-color: hsla(0 ,100% ,50%, 0.9) !important;
  color: white;
}

.circle-orange:hover {
  background-color: hsla(30 ,96% ,52%, 0.9) !important;
  color: white;
}

.circle-green:hover {
  background-color: hsla(120 ,100% ,50%, 0.9) !important;
  color: white;
}

.circle-text{
  margin-top: 100px;
  font-size: 30px;
}


/*----- HOME -----*/

.home-tagline {
  color: white;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  margin: 100px 80px 0 80px;
  z-index: 1;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}


/*----- RESOURCES -----*/

.resources-container {
  margin-top: 100px;
}